@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Add New Engineer</h2>

@using(Html.BeginForm())
{
  @Html.Label("Engineer Name:")
  @Html.TextBoxFor(model => model.EngineerName)

  <div>
    @Html.Label("Licensed for Machine:")
    @Html.DropDownList("MachineId")
  </div>
  
  <input type="submit" value="+ Engineer" class="btn btn-primary">
}