@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.MyViewModel;



@if (Model.AllEngineers.Count == 0 && Model.AllMachines.Count == 0)
{
  <img class="home-img" src='https://media.giphy.com/media/JKSaYOkCHcblK/giphy.gif' alt="Lucy from I Love Lucy eating chocolate from factory conveyor belt"/>
}
else
{
<div class="row">
  <div class="col-6">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h1>Engineers</h1>
      </div>
      <ul class="list-group list-group-flush">
        @foreach (var engineer in Model.AllEngineers)
        {
          <li class="list-group-item"><h3>@Html.ActionLink($"{engineer.EngineerName}", "Details", "Engineers", new { id = engineer.EngineerId })</h3></li>
        }
      </ul>
    </div>
  </div>

  <div class="col-6">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h1>Machines</h1>
      </div>
      <ul class="list-group list-group-flush">
      @foreach (var machine in Model.AllMachines)
      {
        <li class="list-group-item"><h3>@Html.ActionLink($"{machine.MachineName}", "Details", "Machines", new { id = machine.MachineId } )</h3></li>
      }
      </ul>
    </div>
  </div>
</div>
}